h1, h2, h3, nav, footer, .actions
{
    font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}
body
{
    font-family: Georgia, Cambria, "Times New Roman", serif;
    font-size: 100%;
    background-color: whitesmoke;
    background-image:
    url(images/background-pattern.png);
}


h2
{
    font-size: 1.125rem;
}
h3
{
    font-size: 1.125em;
    border-bottom: solid 1pt #999999;
    margin-top: 0em;
    margin-right: 0em;
    margin-bottom: 0.5em;
    margin-left: 0em;
}
p
{
    font-size: 1em;
}
a:hover
{
    background-color: #FFFFCC;
}
a:visited
{
    color: #BB78BB;
}
a:link
{
    font-weight: bold;
    color: #47B3F7;
}

a[href^="mailto"] {
    background: url(images/email.png) no-repeat 0 3px;
    padding-left: 1em;
}
a[href^="tel"]
{
    background: url(images/call.png) no-repeat 0 3px;
    padding-left: 1em;
}

/* Style for header and navigation */

header
{
    background-image: url(images/header-background.png);
    background-repeat: repeat;
}
h1
{
    padding-left: 6em;
}

nav#firstMenu
{
    background-color: #283649;
    font-size: 0.85em;
    text-align: right;
    padding-right: 6em;
}
nav#secondaryMenu
{
    background-color: #DAE1E8;
    font-size: 1em;
    padding-left: 6em;
}
nav ul li
{
    list-style: none;
    display: inline;
}
nav
{
    padding: 0.50em;
}
nav a
{
    padding: 0.25em;
}


/* Style for section */
article>div
{
    background-color: white;
    text-align: center;
    margin-top: 1.5em;
    margin-right: 6em;
    margin-bottom: 1.5em;
    margin-left: 6em;
    
}
section
{
    background-color: white;
    margin-top: 1em;
    margin-right: 6em;
    margin-bottom: 1em;
    margin-left: 6em;
    border: solid 1pt black;
    
}

article>div img
{
    border: solid 1.5px #999999;
    padding: 0.5em;
    margin-top: 1em;
}
section h3
{
    color: mintcream;
    padding: 0.5em;
    background-image: url(images/header-background.png);
    background-repeat: repeat;
}
section p
{
    margin-left: 0.5em;
}
section em
{
    color: #828275;
}

/*act style */
div.act ul li
{
    list-style: none;
    display: inline;
}
div.act
{
    background-color: #283649;
    font-size: 0.75em;
    padding: 0.5em;
    margin-top: 1em;
}
div.act a
{
    background-color: #DAE1E8;
    padding-top: 0.1em;
    padding-right: 1em;
    padding-bottom: 0.1em;
    padding-left: 2em;
    border: solid 1px #999999;
    border-radius: 4px;
    margin-right: 0.5em;
}
.Edit
{
    background: url(images/edit.png) no-repeat;
    background-position: 0.250em 0.150em;
}
.Flag
{
    background: url(images/flag.png) no-repeat;
    background-position: 0.250em 0.150em;
}


/* Style for footer */
footer
{
    background-color: #283649;
    margin-top: 1em;
    margin-right: 6em;
    margin-bottom: 1em;
    margin-left: 6em;
    padding: 0.5em;
}
footer p 
{
    color: mintcream;
    font-size: 0.875em;
    
}

