h1, h2, h3, nav, footer, .actions
{
    font-family: "Trebuchet MS", "Lucida Grande", Tahoma, sans-serif;
}
body
{
    font-family: Georgia, Cambria, "Times New Roman", serif;
    font-size: 100%;
    background: #150b09 url(images/art-background4.jpg) no-repeat;
    background-size: cover;
}

header
{
    margin-left: 8rem;
    background-color: white;
    width: 18rem;
    height: 6rem;
    padding: 1rem;
}
header h2
{
    font-size: 0.75rem;
    
}
header h1
{
    font-family: 'Six Caps', sans-serif;
    font-size: 3rem;
}
article
{
    background-color:rgba(255,255,255,0.5);
    margin-top: 6rem;
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 8rem;
    width: 30rem;
}
article p
{
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
    padding-left: 1rem;
    font-size: 1.4rem;
    font-weight: bold;
}
article h2
{
    background-color:rgba(239,239,239,0.5);
    padding: 1rem;
    font-size: 1.5rem;
}

article p#time
{
    color: white;
    background-color:rgba(0,0,0,0.5);
    margin: 1rem;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    width: 19rem;
}
article footer
{
    background-color:#EFEFEF;
    padding: 1.5rem  1rem;
}

a[href^="mailto"]
{
    background: url(images/email.png) no-    repeat 0 5px;
    padding-left: 1.25em;
    border-bottom: dotted 1pt black;
    text-decoration: none;
    
}
